@(title: String, header: String, footer: String)(content: Html)

<!DOCTYPE>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href=@routes.Assets.versioned("stylesheets/main2.css")>
    <link rel="shortcut icon" type="image/svg+xml" sizes="any" href=@routes.Assets.versioned("images/favicon.svg")>
</head>
<body>
<header class="row">
    <div class="header">@header</div>
    <h1>@title</h1>
</header>
<article class="row">
    @content
</article>
<footer class="row">
    <p>@footer</p>
</footer>
</body>
</html>